.themify_builder_264_row.module_row_0.module_row{padding-top:10%; padding-bottom:5%; }
.themify_builder .fancy-heading-264-0-0-0.module-fancy-heading{background-repeat: repeat; }
.themify_builder_264_row.module_row_1.module_row{padding-top:10%; padding-bottom:5%; }
.module_row_1 .module_column_0 .sub_row_1-0-0.module_subrow{padding-bottom:3%; }
.themify_builder .text-264-sub_row_1-0-0-0-0.module-text{background-repeat: repeat; padding-top:15%; }
.themify_builder .image-264-sub_row_1-0-0-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-2-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_3.module_row{padding-top:8%; padding-bottom:3%; }
.themify_builder .text-264-3-0-0.module-text{background-repeat: repeat; padding-top:20%; }
.themify_builder .image-264-3-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-4-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_5.module_row{padding-top:8%; padding-bottom:5%; }
.themify_builder .text-264-5-0-0.module-text{background-repeat: repeat; }
.themify_builder .image-264-5-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-6-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_7.module_row{padding-top:8%; padding-bottom:5%; }
.themify_builder .image-264-7-0-0.module-image{background-repeat: repeat; }
.themify_builder .text-264-7-1-0.module-text{background-repeat: repeat; }
.themify_builder .gallery-264-8-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_9.module_row{padding-top:8%; padding-bottom:3%; }
.themify_builder .text-264-9-0-0.module-text{background-repeat: repeat; }
.themify_builder .image-264-9-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-10-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_11.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .image-264-11-0-0.module-image{background-repeat: repeat; }
.themify_builder .text-264-11-1-0.module-text{background-repeat: repeat; }
.themify_builder .gallery-264-12-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_13.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .image-264-13-0-0.module-image{background-repeat: repeat; }
.themify_builder .text-264-13-1-0.module-text{background-repeat: repeat; }
.themify_builder .gallery-264-14-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_15.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .text-264-15-0-0.module-text{background-repeat: repeat; }
.themify_builder .image-264-15-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-16-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_18.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .image-264-18-0-0.module-image{background-repeat: repeat; }
.themify_builder .text-264-18-1-0.module-text{background-repeat: repeat; }
.themify_builder .gallery-264-19-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_20.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .text-264-20-0-0.module-text{background-repeat: repeat; }
.themify_builder .image-264-20-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-21-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_22.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .text-264-22-0-0.module-text{background-repeat: repeat; }
.themify_builder .image-264-22-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-23-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_24.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .image-264-24-0-0.module-image{background-repeat: repeat; }
.themify_builder .text-264-24-1-0.module-text{background-repeat: repeat; }
.themify_builder .gallery-264-25-0-0.module-gallery{background-repeat: repeat; }
.themify_builder_264_row.module_row_26.module_row{padding-top:5%; padding-bottom:3%; }
.themify_builder .text-264-26-0-0.module-text{background-repeat: repeat; }
.themify_builder .image-264-26-1-0.module-image{background-repeat: repeat; }
.themify_builder .gallery-264-27-0-0.module-gallery{background-repeat: repeat; }
